In [10]:
import pandas as pd
data = [{'Apple':30,'Banana':21}]
df = pd.DataFrame(data)
df

   Apple  Banana
0     30      21

In [15]:
data1 = {'Apple':[35,41],'Banana':[21,34]}
df1 = pd.DataFrame(data1, index = ['2017 Sales','2018 Sales'])
df1

            Apple  Banana
2017 Sales     35      21
2018 Sales     41      34

In [17]:
import pandas as pd
import numpy as np

data2 = np.array(['4 cups','1 cup','2 large','1 can'])
ser = pd.Series(data2,index = ['Flour','Milk','Eggs','Spam'],name = 'dinner')
ser

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: dinner, dtype: object

In [18]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [19]:
data = pd.Series([0.25,0.50,0.75,1],index=['a','b','c','d'])
'a' in data

True