In [2]:
import pandas as pd
import random

countries = ['India','USA','Japan','UK','Australia','Germany']
gdp = {country:[random.randint(100,1000) for _ in range(10)] for country in countries}

gdp

{'India': [244, 310, 732, 811, 232, 469, 670, 709, 611, 498],
 'USA': [409, 820, 115, 291, 559, 665, 417, 778, 126, 942],
 'Japan': [819, 497, 319, 971, 467, 880, 589, 843, 271, 737],
 'UK': [437, 715, 956, 270, 879, 357, 666, 873, 950, 651],
 'Australia': [577, 477, 878, 260, 521, 894, 957, 440, 364, 921],
 'Germany': [597, 905, 283, 379, 201, 762, 614, 867, 523, 648]}

In [4]:
df = pd.DataFrame(gdp,index = range(2013,2023))
df

      India  USA  Japan   UK  Australia  Germany
2013    244  409    819  437        577      597
2014    310  820    497  715        477      905
2015    732  115    319  956        878      283
2016    811  291    971  270        260      379
2017    232  559    467  879        521      201
2018    469  665    880  357        894      762
2019    670  417    589  666        957      614
2020    709  778    843  873        440      867
2021    611  126    271  950        364      523
2022    498  942    737  651        921      648

In [7]:
avg_gdp = df.mean().mean()
avg_gdp

593.7166666666667